/*css/estilos.css*/
body {
    font-family: Arial, sans-serif;
    color: #db0808;
    background-color: black;
}/*esta regla define la fuente y el color del texto de la fuente del documento*/
h1{
    color: #e9ecef;
    font-size: 32px;
    text-align: center;
}